button,
input[type="file"],
input[type="number"],
input[type="text"],
select,
textarea {
  box-sizing: border-box;
  border: 1px solid black;
  height: 42px;
  vertical-align: top;
  padding: 5px;
  outline-color: hotpink;
}

button, select {
  background-color: white;
}

button[disabled] {
  background-color: black;
  color: white;
}

label {
  cursor: pointer;
  display: block;
  margin: 12px 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

#cards img {
  height: 340px;
  width: 240px;
  cursor: pointer;
}

#cards .Cols img {
  height: 255px;
  width: 180px;
  margin-bottom: -230px;
}

#cards .Cols img:last-child {
  margin-bottom: 0;
}

#hover {
  position: fixed;
  bottom: 0;
}

#lands img {
  height: 32px;
  width: 32px;
}

#lands input {
  width: 3em;
}
