label {
  cursor: pointer;
}

textarea {
  height: 1em;
  vertical-align: top;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

#cards img {
  height: 340px;
  width: 240px;
  cursor: pointer;
}

#cards .Cols img {
  height: 255px;
  width: 180px;
  margin-bottom: -230px;
}

#cards .Cols img:last-child {
  margin-bottom: 0;
}

#hover {
  position: fixed;
  bottom: 0;
}

#lands img {
  height: 32px;
  width: 32px;
}

#lands input {
  width: 3em;
}
